.container {
  height: 100%;
  width: 100%;
}

.landing_header {
  padding: 4rem;
  margin-bottom: 3rem;
}

.landing_nav, .landing_nav_links{
  display:flex;
  justify-content: space-between;
}

.landing_nav_title, .hero_main_subtitle {
  font-size: 3.2rem;
  font-weight: bolder;
}

.landing_nav_links {
  margin-top: 1.3rem;
}

.landing_nav_links div:not(:last-child) {
  margin-right: 8rem;
}

.landing_nav_links a {
  font-size: 1.6rem;
}

.hero_container {
  min-height: 100vh;
}


.hero_main_container {
  display: flex;
  justify-content: center;
  padding:4rem;
}

.hero_main_flexitem_1{
  margin-right: 15rem;
}

.hero_main_flexitem_2 {
  max-width: 30rem;
  margin-top: 10rem;
}

.landing_subsection {
  width:cover;
  margin-top: 8rem;
  min-height: 60vh;
  padding:4rem;
  background-color: #5758BB;
}

.landing_subsection_container {
  padding:2rem;
  display:flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.landing_subsection_flexitem_image {
  margin-bottom: 3rem;
}

.landing_subsection_text {
  max-width: 30rem;
  font-size:2rem;
}

.landing_subsection_flexitem{
  margin-right: 3rem;
}

#counting_stars {
  margin-top:-5.35rem;
}

.landing_subsection_subtitle {
  display:flex;
  justify-content: center;
}

.landing_subsection_subtitle_text {
  font-size: 3rem;
  max-width: 50rem;
  text-align: center;
}