.login_container {
    background-color: #2F3542;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_heading {
    font-size: 3rem;
}

.login_heading_box {
    margin-bottom: -1rem;
}

.login_heading_box:last-of-type {
    margin-bottom: 4rem;
}