.login_container {
    background-color: #2F3542;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form_box {
    background-color: rgb(9, 44, 44);
    height: 50rem;
}